{% extends "layout.html" %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='manage_feedback.css') }}">

 <div class="container">
     <div class="text-center">
         <h2 class="m-4">Add Marks to {{ module }} - {{ component }}</h2>
     </div>
     <div  style="display: flex; align-items: center; justify-content: center;">
        <label id="filter_class_label" style="font-weight: bold;" id="add_marks_ddl">Class: </label>
        <form method="post"> 
            <select id="add_marks_ddl" name = "value_filter" class="form-control" onchange="">
            <option disabled selected value> -- select an option -- </option>
            {% for class in teaching_classlist %}
            <option value="{{ class }}">{{ class }}</option>
            {% endfor %}
        </select>
        </form>
     </div>
     <div style="display: flex; align-items: center; justify-content: center;">
         <div class="col-sm-5">
            <table class="table table-bordered table-striped mt-3" id="add_marks_table">
            <thead>
                <tr class="text-center">
                  <th scope="col">Student Name</th>
                  <th scope="col">Marks</th>
                </tr>
            </thead>
            <form method="post" action="" id="add_marks_form">
                <tbody>
                    <tr class="text-center">
                        <td contenteditable="false">student######</td>
                        <td contenteditable="true"></td>
                    </tr>
                </tbody>
            </form>
        </table>
             <div class="row add_marks_btn_row m-1">
                 <button class="btn btn-outline-danger" onclick="javascript:history.back()">Back</button>
                 <button form="add_marks_form" type="submit" class="btn btn-success" >Submit</button>
             </div>
        </div>
    </div>
 </div>
{% endblock content %}