{% extends "layout.html" %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='manage_class.css') }}">

<h2>Add student</h2>
<form method="post">
    {{ form.hidden_tag() }}
    <div class="content-section p-3" id="manage_class_container">
        <div class="form-group row">
            <div class="col-sm-4 text-right">
                {{ form.student_id.label(class="ml-3 form-control-label") }}
            </div>

             <div class="col-sm-8 pr-5">
            {% if form.student_id.errors %}
                {{ form.student_id(class="form-control is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.student_id.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                 {{ form.student_id(class="form-control") }}
            {% endif %}
             </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-4 text-right">
                {{ form.student_name.label(class="ml-3 form-control-label") }}
            </div>
             <div class="col-sm-8 pr-5">
            {% if form.student_name.errors %}
                {{ form.student_name(class="form-control is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.student_name.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                 {{ form.student_name(class="form-control") }}
            {% endif %}
             </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-4 text-right">
                {{ form.student_email.label(class="ml-3 form-control-label") }}
            </div>
             <div class="col-sm-8 pr-5">
            {% if form.student_email.errors %}
                {{ form.student_email(class="form-control is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.student_email.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                 {{ form.student_email(class="form-control") }}
            {% endif %}
             </div>
        </div>
        <div class="row mr-1" id="add_student_btn_row">
            <a href="{{url_for('manage_class', mod_id=mod_id)}}" class="btn btn-outline-danger ml-2 mb-2">Back</a>
            <a href="{{ url_for('manage_class', mod_id=mod_id) }}" class=""></a>
            {{ form.submit(class="btn btn-primary mb-2") }}

        </div>
    </div>

</form>

{% endblock content %}