{% extends "layout.html" %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='manage_feedback.css') }}">
<h1>Add Component</h1>
<form id="add-component-form" method="POST" action="">
    {{ form.hidden_tag() }}
    <div class="row" id="component-row">
        <div class="content-section mt-3" id="add_comp_content_section">
                <fieldset class="form-group">
                    <legend>Module</legend>
                    <div class="form-group">
                        <div class="form-group">
                            {% for main in form.main_comps %}
                                <div class="form-group"><hr>
                                    {{ main.hidden_tag() }}
                                    <div class="row">
                                        <div class="col-sm-6">
                                            {% if main.comp_name.errors %}
                                                {{ main.comp_name(class="form-control is-invalid") }}
                                                <div class="invalid-feedback">
                                                    {% for error in main.comp_name.errors %}
                                                    <span>{{ error }}</span>
                                                    {% endfor %}
                                                </div>
                                            {% else %}
                                                 {{ main.comp_name(class="form-control") }}
                                            {% endif %}
                                        </div>
                                        <div class="col-sm-6">
                                            {% if main.weightage.errors %}
                                                {{ main.weightage(class="form-control is-invalid") }}
                                                <div class="invalid-feedback">
                                                    {% for error in main.weightage.errors %}
                                                    <span>{{ error }}</span>
                                                    {% endfor %}
                                                </div>
                                            {% else %}
                                                 {{ main.weightage(class="form-control") }}
                                            {% endif %}
                                        </div>

                                    </div>
                                </div>
                                 <div class="form-group">
                                     {% for sub in main.sub_comps %}
                                        {{ sub.hidden_tag() }}
                                         <div class="form-group">
                                            <div class="row">
                                                <div class="col-sm-2 text-right"><img class="responsive" src="{{url_for('static', filename='egg.png')}}" alt="-->" width=25/></div>
                                                <div class="col-sm-5 pl-0">
                                                    {% if sub.comp_name.errors %}
                                                        {{ sub.comp_name(class="form-control form-control-sm is-invalid") }}
                                                        <div class="invalid-feedback">
                                                            {% for error in sub.comp_name.errors %}
                                                            <span>{{ error }}</span>
                                                            {% endfor %}
                                                        </div>
                                                    {% else %}
                                                         {{ sub.comp_name(class="form-control form-control-sm") }}
                                                    {% endif %}
                                                </div>
                                                <div class="col-sm-5 pl-0">
                                                    {% if sub.weightage.errors %}
                                                        {{ sub.weightage(class="form-control form-control-sm is-invalid") }}
                                                        <div class="invalid-feedback">
                                                            {% for error in sub.weightage.errors %}
                                                            <span>{{ error }}</span>
                                                            {% endfor %}
                                                        </div>
                                                    {% else %}
                                                         {{ sub.weightage(class="form-control form-control-sm") }}
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                     {% endfor %}
                                </div>
                                <div class="form-group">
                                    {{ main.add_sub(class="btn btn-outline-info btn-sm", formnovalidate=True) }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </fieldset>
                <div class="form-group">
                    {{ form.add_main(class="btn btn-outline-info", formnovalidate=True) }}
                </div>
        </div>
    </div>
    </div>
        <div class="row" id="add_component_submit_btn_row">
            <div class="column d-flex justify-content-between" id="add_comp_btn_col">
                <a href="{{url_for('manage_module', mod_id=modid)}}" class="btn btn-outline-danger">Back</a>
                {{ form.submit(class="btn btn-info") }}
            </div>
        </div>
</form>
{% endblock content %}