{% extends "layout.html" %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='module_list.css') }}">
<h1>Class Dashboard</h1>
<div class="container">

    {% set count = namespace(value=1) %}
    {% set col = 4 %}
    {% for row in frog_list | batch(col) %}
    <div class="row" id="class_list_row">
        {% for frog in row %}
         <div class="column" id="class_dashboard_col">
            <div class="row justify-content-center" id="class_tank_row">
                <img class="responsive" src={{url_for('static', filename='student_tank.png')}} alt="{{ frog }}"  width=200/>
                <img id="student_frog" src={{frog}} alt="{{ student }}"  width=40/>
            </div>
            <div class="row justify-content-center">
                #{{ loop.index0 + count.value }}
            </div>

        </div>
        {% endfor %}
        {% set count.value = count.value + col %}
    </div>
    {% endfor %}




</div>

{% endblock content %}