{% extends "layout.html" %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='manage_class.css') }}">

<div class="container pl-0 pr-0">
    <div class="row"></div>
        <h1 class="text-center m-4" >{{module.mod_name}}</h1>
        <div class = "mt-5" id="manage_module_row2">
            <a href="{{ url_for('manage_class', mod_id=module.id) }}" class="btn btn-info">View Class List</a>
             <a id="add_student_btn" href="{{url_for('add_component', mod_id=module.id)}}" class="btn btn-info">Add Assessment</a>
{#-----------------------------modal-----------------------------#}
        <div class="modal fade" id="add_assessment_modal" tabindex="-1" role="dialog" aria-labelledby="#add_assessment_modal" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="add_student_modal_label">Add Marks(s) via</h5>
              </div>
              <div class="modal-body">
                  <div class="row m-2" id="modal_buttons">
                      <a href="{{ url_for('add_marks') }}" class="btn btn-info m-2">Add Manually</a>
                  </div>
                  <div class="row ml-3 mt-3">
                      Upload Excel Sheet (.csv)
                  </div>
                        <form action="">
                             <div class="row ml-2">
                                <input class="border overflow-auto m-2" type="file" accept=".xls,.xlsx,.csv" id="file_upload_box" name="filename">
                             </div>
                            <div class="row m-2" id="modal_submit_row">
                                <button type="submit" class="btn btn-info m-1 mt-3" data-toggle="modal" >Submit</button>
                            </div>
                        </form>
                    </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary m-2" data-dismiss="modal">Close</button>
                </div>
              </div>

            </div>
          </div>
{#-----------------------------modal-----------------------------#}
        </div>
        </div>
    
        <table id="class_list_table" class="table table-bordered table-sm mt-1 ml-0 mt-4" width="100%">
          <thead class="thead-light">
            <tr class="text-center">
              <th class="th-sm">Assessment</th>
              <th class="th-sm">Weightage</th>
<!--              <th class="th-sm">Date</th>-->
              <th class="th-sm">View</th>
              <th class="th-sm">Add Marks</th>
              <th class="th-sm">Feedback</th>
            </tr>
          </thead>
          <tbody>
            {% for comp in components %}
                <tr class="">
                    <td class="manage_module_component">{{ comp.name }}</td>
                    <td class="text-center">{{ comp.weightage }}%</td>
                    {% if comp.sub_comp_list %}
                        <td class="text-center"><a href="{{ url_for('view_component_scores') }}" class="btn btn-info">View</a></td>
                        <td class="text-center"><button id="add_student_btn" type="button" class="btn btn-secondary"  disabled data-toggle="modal" data-target="#add_assessment_modal">Add Marks</button></td>
                        <td class="text-center"><a href="{{ url_for('manage_feedback', mod_id=module.id, comp_id=comp.id) }}" class="btn btn-info">Feedback</a></td>
                        {% for sub in comp.sub_comp_list %}
                             <tr>
                                <td class="manage_module_subcomponent"><img class="responsive" src="{{url_for('static', filename='frog_state_1.png')}}" alt="-->" width=16/>  {{ sub.name }}</td>
                                <td class="text-center">{{ sub.weightage }}%</td>
                                <td class="text-center"><a href="{{ url_for('view_component_scores') }}" class="btn btn-info">View</a></td>
<!--                                <td class="text-center"><button id="add_student_btn" type="button" class="btn btn-info" data-toggle="modal" data-target="#add_assessment_modal">Add Marks</button></td>-->
                                <td class="text-center"><a href="{{ url_for('add_marks', mod_id=module.id, comp_id=sub.id) }}" id="add_student_btn" class="btn btn-info" >Add Marks</a></td>
                                <td class="text-center"><a href="{{ url_for('manage_feedback', mod_id=module.id, comp_id=sub.id) }}" class="btn btn-info">Feedback</a></td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <td class="text-center"><a href="{{ url_for('view_component_scores') }}" class="btn btn-info">View</a></td>
                        <td class="text-center"><a href="{{ url_for('add_marks', mod_id=module.id, comp_id=comp.id) }}" id="add_student_btn" class="btn btn-info" >Add Marks</a></td>
<!--                        <td class="text-center"><button id="add_student_btn" type="button" class="btn btn-info" data-toggle="modal" data-target="#add_assessment_modal">Add Marks</button></td>-->
                        <td class="text-center"><a href="{{ url_for('manage_feedback', mod_id=module.id, comp_id=comp.id) }}" class="btn btn-info">Feedback</a></td>
                    {% endif %}
                </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
</div>

{% endblock content %}