{% extends "layout.html" %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='module_list.css') }}">
<h1>Module List</h1>
<div class="container">

    {% for module_row in modulelist | batch(3, '&nbsp;') %}
    <div class="row" id="module_list_row">
        {% for module in module_row %}
        {% if module in modulelist %}
        <div class="column" id="module_list_col">
            <a href="">
                <img class="responsive" src={{url_for('static', filename='froggif.gif')}} alt="{{ module }} link"  width=300/>
            </a>
        module #{{ module }}
        </div>
        {% endif %}
        {% endfor %}
    </div>
    {% endfor %}




</div>

{% endblock content %}