{% extends "layout.html" %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='manage_class.css') }}">

<h2>{{ module_name }} | {{ component_name }} Scores</h2>
<div class="container">
    <div class="row justify-content-center">
        <table id="component_score_table" class="table table-striped table-bordered table-sm " width="100%">
            <thead>
            <tr>
                <th class="th-sm">Name
                </th>
                <th class="th-sm text-center">Marks Obtained
                </th>
                <th class="th-sm text-center">Grade
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>student1</td>
                <td class="text-center">80</td>
                <td class="text-center">A</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="row" id="view_component_scores_btn_row">
        <button class="btn btn-outline-danger" onclick="javascript:history.back()">Back</button>

    </div>
</div>

{% endblock content %}