
#class_ddl_row
{
    justify-content: flex-end;
}

#filter_class_ddl
{
    width: 200px;
}

#filter_class_label
{
    margin:10px;
}

#manage_class_row2, #modal_buttons
{
    justify-content: space-between;
}

table{
    margin-top:50px;
    margin-left: 100px;
    margin-right: 100px;
}
#file_upload_box
{
    width: 500px;
}
#modal_submit_row
{
    justify-content: flex-end;
}

#component_score_table
{
    width: 400px;
}

#view_component_scores_btn_row
{
    justify-content: flex-end;
}
#manage_class_button_col
{
    width:80px;
}