#feedback_column1{
    width:70%;
}
#feedback_column2{
    width:30%;
}

#class_ddl_row
{
    justify-content: flex-end;
}

#filter_class_label
{
    margin:10px;
}
.custom-scrollbar {
position: relative;
height: 100vh;
overflow: auto;
}
.table-wrapper-scroll-y {
display: block;
}

#all_check, .feedback_checkboxes
{
    position: relative;
    margin:0px;
    padding:0px;
}

#feedback_submit_button_row
{
    justify-content: space-between;
    margin-right:22%;
}
.add_marks_btn_row
{
    justify-content: space-between;
}

.component_weight_txts
{
    width: 200px;
}

#add_component_submit_btn_row
{
    justify-content: space-evenly;
}