.column{
    padding: 20px;
}

#module_list_col
{
     width: 33.33%;
}

#module_list_row
{
    text-align: center;
}

#class_list_row
{
    text-align: center;
}

#class_dashboard_col
{
    width: 20%;
}

