.column{
    padding: 20px;
}

#module_list_col
{
     width: 33.33%;
}

#module_list_row
{
    text-align: center;
}

#class_list_row
{
    text-align: center;

}

#class_dashboard_col
{
    width: 25%;
}
#class_tank_row
{
    align-items: flex-end;
}
#student_frog
{
    position:absolute;
    padding-bottom: 5px;
    height: auto;
    width:3.5%
}
.responsive {
  width: 100%;
  height: auto;
}
