#header_row
{
    justify-content: space-between;
    display: flex;
    height: 100%;
}
#view_class_dashboard_btn
{
    display: inline-block;
  align-self: flex-end;
}
#student_tank_row
{
    justify-content: center;
}
#student_dashboard_nav
{
    background-color: steelblue;
    border-style: dashed;

}
.nav-link
{
    color:whitesmoke;
}
#student_dashboard_right_col
{
    border-style:dashed;
    border-left: none;
    height: 80vh;
}
#student_tank_row
{
    border-bottom: dashed;

}

#student_dashboard_nav_header {
    border-bottom: dashed;
}
.my-custom-scrollbar
{
    position: relative;
    height: 45vh;
    overflow: auto;
}
.table-wrapper-scroll-y
{
    display: block;
}
#student_dashboard_table_row
{
    justify-content: center;
    overflow: hidden;
}

#mod_list_pills {
    border-top: dashed;
}

#table_div{
    width: 65vw;
}

#view_student_tank_row{
    justify-content: center;
}
#student_dashboard_frog
{
    position:absolute;
    padding-top: 170px;
    height: auto;
    width:8%
}

#view_student_frog
{
    position:absolute;
    padding-top: 150px;
    height: auto;
    width:6%
}


